{% extends 'html/base.html' %}
{% block content %}
    <h1 class="text-center">Hello, recommendation system ! </h1>
    {% if value %}
        <p class="value">{{ value }}</p>
        <a href="{{ url_for('form_find')}}">Return to the main page</a>
    {% else %}
    <form method="get">
        <div class="form-group">
            <label for="search-value">Enter item to find</label>

            <input class="form-control" type="text" name="search-value" placeholder="Enter there">
            <button class="btn btn-primary" type="submit">Find</button>
        </div>
    </form>
    {% endif %}

{% endblock %}
