{% extends 'html/base.html' %}
{% block content %}
    {% if value %}
        <div class="caption-query">
            <h1 class="text-center">Found by query: {{ value }}</h1>
        </div>
        <div>
            <ol>
                {% for recipe in recipes %}
                <li class="result-li">
                    <p class="value">{{ recipe.title }}</p>
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="recipe-image">
                    <a class="button" href="{{ url_for('culinary.dish_page', dish_id=recipe.id)}}">Watch dish</a>
                </li>
            {% endfor %}
            </ol>
            <a class="button" href="{{ url_for('culinary.form_find')}}">Return to the main page</a>
        </div>
    {% else %}
    <h1 class="text-center">Find available recipes </h1>
    <form method="get">
        <div class="form-group">
            <label for="search-value">Enter item to find</label>
            <input class="form-control" type="text" name="search-value" placeholder="Enter there">
            <button class="btn btn-primary" type="submit">Find</button>
        </div>
    </form>
        </br>
        {% if recommended_dishes %}
            <div class="recommended-section">
                <h2 class="recommended-title">We also recommend these dishes</h2>
                <ul class="recommended-list">
                    {% for recipe in recommended_dishes %}
                        <li class="recommended-item">
                            <a href="{{ url_for('culinary.dish_page', dish_id=recipe.id) }}">
                                <img src="{{ recipe.image }}" width="250"alt="{{ recipe.title }}" class="recommended-image">
                                <p class="recommended-text">{{ recipe.title }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
